<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: rgb(71, 80, 80);">
    <center>
        <h1>Diebetes Detection</h1>

        
    
        
        <br><br>
        <br><br>
        <br><br>
        {%if data == 0%}
        <h1 style="color:Tomato;"><b>Diabetes Not Detected </b> </h1><br>  
    
    

        {%else%}
        <h1 style="color:Tomato;" >  <b>Diabetes Detected </i> </b><br>
   
    
        {%endif%}
        
        <br>
        <br>
        <br>

        <a href='/' "font-size: small;">go back to home page</a>
    <br>
    <br>
        
    
    </center>
    


</body>
</html>